.idea
*.pyc
env/
venv3/
static/assets/.sass-cache/*
.DS_Store 
db.sqlite3
polls/
media/teams/
*.dump
*.dump*
queries.txt
log.txt
media/homepage/*
pg_upgrade_*
virtualenve
db_migration_scripts/*
*.vscode
venv/
*.log
