appdirs==1.4.0
appnope==0.1.0
autoenv==1.0.0
backports.shutil-get-terminal-size==1.0.0
boto==2.48.0
boto3==1.4.7
botocore==1.7.16
decorator==4.1.2
dj-database-url==0.3.0
Django==1.11.18
django-countries==5.0
django-datetime-widget==0.9.3
django-extensions==1.8.1
django-localflavor==1.1
django-reversion==2.0.5
django-storages==1.6.5
django-suit==0.2.15
django-widget-tweaks==1.4.1
docutils==0.14
enum34==1.1.6
futures==3.1.1
gunicorn==19.5.0
ipython==5.4.1
ipython-genutils==0.2.0
jmespath==0.9.3
olefile==0.44
packaging==16.8
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.15
psycopg2==2.7
ptyprocess==0.5.2
pyflakes==1.5.0
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.6.1
pytz==2016.6.1
s3transfer==0.1.11
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
virtualenv==15.0.1
wcwidth==0.1.7
whitenoise==2.0.2
