appdirs==1.4.0
autoenv==1.0.0
dj-database-url==0.3.0
Django==1.9.7
django-countries==3.4.1
django-datetime-widget==0.9.3
django-localflavor==1.1
django-reversion==2.0.5
django-suit==0.2.15
django-widget-tweaks==1.4.1
gunicorn==19.3.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6
pyparsing==2.1.10
pytz==2016.6.1
six==1.10.0
virtualenv==15.0.1
whitenoise==2.0.2
ipython==5.4.1
django_extensions==1.8.1
pyflakes==1.5.0
