asgiref==3.2.10
dj-database-url==0.5.0
Django==3.0.7
django-datetime-widget==0.9.3
django-extensions==3.0.1
django-localflavor==3.0.1
django-storages==1.9.1
django-widget-tweaks==1.4.8
docutils==0.16
Pillow==7.2.0
psycopg2-binary==2.8.5
python-stdnum==1.13
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
suit==2.0.2
whitenoise==5.1.0
