{% load helpers %}
<table class="table">
    <tr>
        <th>Year</th>
        <th>Season</th>
        <th>Team (Record)</th>
        <th>GF</th>
        <th>GA</th>
        <th>Div</th>
    </tr>
    {% for stat in past_team_stats %}
    <tr>
        <td>{{stat.team__season__year}}</td>
        <td>{{stat.team__season__season_type|season_type}}</td>
        <td><a href="{% url 'teams' stat.team__id %}" class="cell-link">{{stat.team__team_name}} ({% team_record stat.team__season__year stat.win stat.loss stat.otw stat.otl stat.tie %})</a></td>
        <td>{{stat.goals_for}}</td>
        <td>{{stat.goals_against}}</td>
        <td>{{stat.team__division|division_type}}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">No past stats yet.</td>
    </tr>
    {% endfor %}
</table>
