 {% load static %}
 {% include "core/weather.html" %}
 {% for date, value in schedule.items %}
    {% for division, value2 in value.items %}
        {% if view == "schedule" %}
            <section id="schedulesection">
                <a href="/leagues/roster/{{date}}" class="print-image"><img src="{% get_static_prefix %}images/print.png" alt="" /></a>
            <h3>{{division}} | {{date}}</h3>
        {% endif %}
            {% for match in value2 %}
                <div class="game">
                    {% if view == "schedule" %}
                        <h3>{{match.time}}</h3>
                    {% else %}
                        <h3>{{match.time}} | {{date}}</h3>
                    {% endif %}
                    <table class="game-overview">
                        <tr>
                            <td class="clickable" 
                                onclick="javascript:handleTeam('/leagues/teams/{{match.awayteam.id}}')">
                                {{match.awayteam.team_name}} ({{match.away_wins}}-{{match.away_losses}}-{{match.away_ties}})</td>
                            <td>@</td>
                            <td class="clickable"
                                onclick="javascript:handleTeam('/leagues/teams/{{match.hometeam.id}}')">
                           {{match.hometeam.team_name}} ({{match.home_wins}}-{{match.home_losses}}-{{match.home_ties}})</td>
                        </tr>
                    </table>
                </div> <!-- /game -->
            {% endfor %} <!-- match -->
        {% if view == "schedule" %}
            </section>
        {% endif %}
    {% endfor %} <!-- division -->
{% endfor %} <!-- day -->
