{% load helpers %}
{% for day,value in matchups.items %}
        {% if division_name %}
            <section>
            <h3>{{division_name}} | {{day}}</h3>
        {% endif %}
        {% for mid, value2 in value.items %}
        <div class="game">
                {% if division_name %}
                    <h3>{{value2.match.time}}</h3>
                {% else %}
                    <h3>{{value2.match.time}} | {{day}}</h3>
                {% endif %}
                <table class="game-overview">
                    <tr>
                        <td class="{% if value2.match.home_goals < value2.match.away_goals %}winner{% endif %}">
                            <a href="{% url 'teams' value2.match.awayteam.id %}" class="cell-link">{{value2.match.awayteam.team_name}}<br>({% team_record value2.match.awayteam.season.year value2.match.away_wins value2.match.away_losses value2.match.away_otw value2.match.away_otl value2.match.away_ties %})</a>
                        </td>
                        <td
                            {% if value2.match.home_goals < value2.match.away_goals %}
                                class="winner"
                            {% endif %}
                            >{{value2.match.away_goals}}</td>
                        <td class="{% if value2.match.home_goals > value2.match.away_goals %}winner{% endif %}">
                            <a href="{% url 'teams' value2.match.hometeam.id %}" class="cell-link">{{value2.match.hometeam.team_name}}<br>({% team_record value2.match.hometeam.season.year value2.match.home_wins value2.match.home_losses value2.match.home_otw value2.match.home_otl value2.match.home_ties %})</a>
                        </td>
                        <td
                            {% if value2.match.home_goals > value2.match.away_goals %}
                                class="winner"
                            {% endif %}
                            >{{value2.match.home_goals}}</td>
                    </tr>
                </table>
                {% include 'partials/box_score.html' %}
            </div> <!-- /game -->
        {% endfor %} <!-- match -->
        {% if division_name %}
            </section>
        {% endif %}
{% endfor %} <!-- day -->
