<table class="table">
    <tr>
        <th class="player-name">Player Name</th>
        <th class="team-name">Team</th>
        <th class="stat-column">G</th>
        <th class="stat-column">A</th>
        <th class="stat-column">Pts</th>
    </tr>
    {% for player in player_list %}
        {% if player.total_points > 0 or player.roster__position1 != 4 and player.roster__position2 != 4 %}
            <tr>
                <td class="player-name clickable" onclick="handleTeam('/leagues/player/{{ player.id }}')">
                    {{ player.first_name }} {{ player.last_name }}{% if player.roster__is_captain %} (C){% endif %}
                </td>
                <td class="team-name clickable" onclick="handleTeam('/leagues/teams/{{ player.roster__team__id }}')">{{ player.roster__team__team_name }}</td>
                <td class="stat-column">{{ player.sum_goals }}</td>
                <td class="stat-column">{{ player.sum_assists }}</td>
                <td class="stat-column">{{ player.total_points }}</td>
            </tr>
        {% endif %}
    {% empty %}
        <tr>
            <td colspan="5">No player stats entered yet.</td>
        </tr>
    {% endfor %}
</table>
<div class="expand" id="ex-{{ division }}" onclick="toggleTable('{{ division }}')">^</div>

