
.navbar-default {
  background-color: #45374b;
  border-color: #54bfac;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fdfbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fdfbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fdfbff;
  background-color: #54bfac;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fdfbff;
  background-color: #54bfac;
}
.navbar-default .navbar-toggle {
  border-color: #54bfac;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #54bfac;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #fdfbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fdfbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fdfbff;
    background-color: #54bfac;
  }
}

#datepicker{
    margin-bottom: 20px;
}

@media screen and (min-width: 737px){
    .team #content section{
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .schedule #content section{
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}
.goalies{
                margin-top: 10px;
        }
.rostertable{
    border-collapse: collapse;
    border: 1px solid #000000;
    vertical-align: top;
    display: inline-block;
    empty-cells: show;
}
.rostertable caption{
    text-align: left
}

.rostertable tr{
    border:1px solid #000000;
    empty-cells: show
}
.rostertable th{
    border:1px solid #000000;
    font-weight: bold;
    width: 20%;
}
.rostertable td{
    border: 1px solid #000000;
    border-collapse: collapse;
    display: table-cell;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 1px;
}

section .game{
    padding-top: 20px;
    border-bottom: 1px solid #474f51;
}

section .game:first-of-type{
    padding-top: 0;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

.division{
    padding-bottom:15px;
}

.divisionheader{
    margin-bottom:10px;
    text-align: center;
}

.optionsdiv{
    clear: right;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1.6em;
    line-height: 1.1em;
    cursor:pointer;
}

.optionsdiv:hover{
    text-decoration: underline;
}

.activeoption{
    text-decoration: underline;
}

.clickable:hover{
    text-decoration: underline;
    cursor: pointer;
}
.game-overview{
    margin: 10px 0;
    width: 100%;
}
.game-overview tr{
    font-size: 1.4em;
    line-height: 1.5em;
}
.title{
    font-size: 2em;
    font-weight: 500;
    line-height: 1.1em;
    padding-bottom:10px;
    color: #d80000;
}
.game-overview tr td:first-child{
    width: 30%;
}
.game-overview tr td:nth-child(2){
    width: 20%;
}
.game-overview tr td:nth-child(3){
    width: 30%;
}
.game-overview tr td:nth-child(4){
    width: 20%;
}
#schedulesection table td:nth-child(2){
      text-align:center;
      color: #d80000;
}
.winner{
    font-weight: 400;
}
.game:hover{
    cursor: pointer;
}
.expand{
    color: #96a9b5;
    font-size: 50px;
    text-align: center;
    transform: scale(1, -1);
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd
}
.collapse{
    clear: both;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 50px;
    text-align: center;
    display: block;
    width: 100%;
    color: #96a9b5;
}
.collapse:hover, .expand:hover{
    color: #d80000;
    cursor: pointer;
}

.stats table{
    empty-cells: show;
    width: 100%;
    margin-bottom: 20px;
}
.stats table caption{
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.stats table tr{
    empty-cells: show;
    white-space: nowrap;
}

.shorttable table tr:nth-child(n+22){
    display: none;
}

.longtable div{
    display: none;
}

.stats table th{
    border-bottom:1px solid #96a9b5;
    font-weight: bold;
    width: 15%;
    white-space: nowrap;
}
.stats table td{
    border-bottom: 1px solid #96a9b5;
    border-collapse: collapse;
    display: table-cell;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 1px;
}
.stats table th:first-child, .stats table td:first-child{
      text-align: left;
      width: 25%;
}

.stats table th:nth-child(2), .stats table td:nth-child(2){
    width: 150px;
}

.stats table.roster td + td{
    border-left:1px solid #96a9b5
}

.standingssec div div{
    padding-top: 0px;
}

.standingssec div div table{
    margin-top: 0px;
}

.player_stats table{
    table-layout: fixed;
    width: 100%;
    overflow: scroll;
}
.player_stats table th{
    border-bottom:1px solid #96a9b5;
    font-weight: bold;
}

.player_stats table td{
    border-bottom: 1px solid #96a9b5;
    border-collapse: collapse;
    display: table-cell;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 1px;
}

.player_stats table th:first-child, .player_stats table td:first-child{
    text-align: left;
}

/*for team name*/
.player_stats table th:nth-child(3), .player_stats table td:nth-child(3){
    width: 35%;
}

.teampic{
    float: right;
    display: block;
    max-width: 480px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    
}

.cleardiv{
    clear:right;
}

.print-image{
    float: right;
}

div div#content .matchupheader{
    margin-top: 3em;
}
