{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="{{ add_goalie_sub_url }}" class="addlink" id="add-goalie-sub-btn">
        {% trans "Add Goalie Sub" %}
    </a>
</li>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
    #add-goalie-sub-btn {
        background: #79aec8;
    }
    #add-goalie-sub-btn:hover {
        background: #609ab6;
    }

    /* Color-coded goalie status indicators */
    td.field-away_goalie_status select option[value="1"],
    td.field-home_goalie_status select option[value="1"] {
        background-color: #d4edda;
    }
    td.field-away_goalie_status select option[value="2"],
    td.field-home_goalie_status select option[value="2"] {
        background-color: #f8d7da;
    }
    td.field-away_goalie_status select option[value="3"],
    td.field-home_goalie_status select option[value="3"] {
        background-color: #fff3cd;
    }
</style>
{% endblock %}
