{% load static %}
<div id="page-wrapper">
    <div id="banner">
        <div class="container">
            <div class="row">
                <div class="6u 12u(mobile)">

                    <!-- Banner Copy -->
                        <p>We do something really useful, important, and unique. Learn all about it here ...</p>
                        <a href="#" class="button-big">Go on, click me!</a>

                </div>
                <div class="6u 12u(mobile)">

                    <!-- Banner Image -->
                    <a href="#" class="bordered-feature-image"><img src="{% get_static_prefix %}images/banner.jpg" alt="" /></a>

                        <!--<a href="#" class="bordered-feature-image"><img src="images/banner.jpg" alt="" /></a>-->

                </div>
            </div>
        </div>
    </div>
</div>