<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="8u 12u(mobile)">

                <!-- Links -->
                    <section>
                        <h2>Information</h2>
                        <div>
                            <div class="row">
                                <div class="3u 12u(mobile)">
                                    <ul class="link-list last-child">
                                        <li><a href="https://www.facebook.com/DcStreetHockeyCityOfOriginsTournament/">City of Origins Tournament</a></li>
                                        <li><a href="#">Turkey Tournament</a></li>
                                        <li><a href="#">New Years Day tournament</a></li>
                                    </ul>
                                </div>
                                <div class="3u 12u(mobile)">
                                    <ul class="link-list last-child">
                                        <li><a href="https://www.google.com/maps/place/4646+Seminary+Rd,+Alexandria,+VA+22304/@38.8259431,-77.1132202,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7b3db9da0cb3d:0x9606a54ac6ac0924!8m2!3d38.8259431!4d-77.1110315" target="_blank">Directions to Rink</a></li>
                                        <li><a href="https://docs.google.com/document/d/1QdjD8VcJYoxTKzudg1z6clSkyvtQQJMUToRhkknnytc/edit" target="_blank">Rink Rules</a></li>
                                        <li><a href="https://forms.gle/w68fCbHrVq8iXBBA9" target="_blank">Sign Up!</a></li>
                                    </ul>
                                </div>
                                <div class="3u 12u(mobile)">
                                    <ul class="link-list last-child">
                                        <li><a href="http://mylec.com/">Mylec Store</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

            </div>
            <div class="4u 12u(mobile)">

                <!-- Blurb -->
                    <section>
                        <h2>Contact Us!</h2>
                        <p>
                                This is the official <strong>DC Street Hockey</strong> website. For up to the minute
                                game updates follow us on <a href="https://twitter.com/dcstreethockey">twitter</a> and
                                <a href="https://www.facebook.com/DCStreetHockey/">facebook</a>
                        </p>
                        <p>
                            For answers to any and all of lifes questions, please contact
                            <a href="mailto:wayne.barrett@dcstreethockey.com" target="_blank">Wayne Barrett</a>
                        </p>
                    </section>

            </div>
        </div>
    </footer>


</div>
