<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="8u 12u(mobile)">

                <!-- Links -->
                    <section>
                        <h2>Information</h2>
                        <div>
                            <div class="row">
                                <div class="3u 12u(mobile)">
                                    <ul class="link-list last-child">
                                        <li><a href="#">City of Origins Tournament</a></li>
                                        <li><a href="#">Turkey Tournament</a></li>
                                        <li><a href="#">New Years Day tournament</a></li>
                                    </ul>
                                </div>
                                <div class="3u 12u(mobile)">
                                    <ul class="link-list last-child">
                                        <li><a href="#">Directions to Rink</a></li>
                                        <li><a href="#">Rink Rules</a></li>
                                        <li><a href="#">Waiver</a></li>
                                    </ul>
                                </div>
                                <div class="3u 12u(mobile)">
                                    <ul class="link-list last-child">
                                        <li><a href="#">Store</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

            </div>
            <div class="4u 12u(mobile)">

                <!-- Blurb -->
                    <section>
                        <h2>Questions?</h2>
                        <p>
                            For answers to any and all of lifes questions, please contact <a href="#">Wayne Barrett</a>
                        </p>
                    </section>

            </div>
        </div>
    </footer>


</div>