

<!-- Header -->

<div id="header-wrapper">

	<header id="header" class="container">
		<div class="row">
			<div class="12u">
			
				<!-- Logo -->
					<h1><a href="{% url 'home' %}" id="logo">DC Street Hockey</a></h1>

					<!-- <a href="#" class="button-big">Go on, click me!</a> -->
					<nav id="nav">
					<a href="{% url 'home' %}">Home</a>
					<a href="{% url 'leagues:team_standings' %}">Standings</a>
					<a href="{% url 'leagues:rosters' %}">Matchup</a>
					<a href="{% url 'leagues:player_stats' %}">League Leaders</a>
					<a href="#">Schedule</a>
					</nav>
			</div>

		</div>
	</header>

</div>