{% load static %}

<!-- Header -->

<div id="header-wrapper">

	<header id="header" class="container">
		<div class="row">
			<div class="12u">

				<!-- Logo -->
					<h1><a href="#" id="logo">DC Street Hockey</a></h1>
					<!-- <a href="#" class="button-big">Go on, click me!</a> -->
					<nav id="nav">
					<a href="index.html">Homepage</a>
					<a href="threecolumn.html">Three Column</a>
					<a href="twocolumn1.html">Two Column #1</a>
					<a href="twocolumn2.html">Two Column #2</a>
					<a href="onecolumn.html">One Column</a>
					</nav>
			</div>

		</div>
	</header>

</div>