{% load static %}

<div id="content-wrapper">
					<div id="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u(mobile)">

									<!-- Box #1 -->
										<section>
											<header>
												<h2>Schedule</h2>
												<h3>Sunday D1</h3>
											</header>
											<ul class="check-list">
												{% for team in league %}
													{% if league.season == 1 and league.division == 1 %}
														<li>{{league.team}}</li>
													{% endif %}
												{% endfor %}
											</ul>
										</section>

								</div>
								<div class="4u 12u(mobile)">

									<!-- Box #2 -->
										<section>
											<header>
												<h2>Schedule</h2>
												<h3>Sunday D2</h3>
											</header>
											<ul class="check-list">
												<li>Sed mattis quis rutrum accum</li>
												<li>Eu varius nibh suspendisse lorem</li>
												<li>Magna eget odio amet mollis justo</li>
												<li>Facilisis quis sagittis mauris</li>
												<li>Amet tellus gravida lorem ipsum</li>
											</ul>
										</section>

								</div>
								<div class="4u 12u(mobile)">

									<!-- Box #3 -->
										<section>
											<header>
												<h2>Schedule Wednesday</h2>
												<h3>And a final subheading about our clients</h3>
											</header>
											<ul class="quote-list">
												<li>
													<img src="images/pic06.jpg" alt="" />
													<p>"Neque nisidapibus mattis"</p>
													<span>Jane Doe, CEO of UntitledCorp</span>
												</li>
												<li>
													<img src="images/pic07.jpg" alt="" />
													<p>"Lorem ipsum consequat!"</p>
													<span>John Doe, President of FakeBiz</span>
												</li>
												<li>
													<img src="images/pic08.jpg" alt="" />
													<p>"Magna veroeros amet tempus"</p>
													<span>Mary Smith, CFO of UntitledBiz</span>
												</li>
											</ul>
										</section>

								</div>
							</div>
						</div>
					</div>
				</div>