{% load static %}

<!-- Features -->
<div id="features-wrapper">
    <div id="features">
        <div class="container">
            <div class="row">
                <div class="3u 12u(mobile)">

                    <!-- Feature #1 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="{% get_static_prefix %}images/DCSH_Final_Website_FB.jpg" alt="" /></a>
                            <h2>Welcome to DC Street Hockey</h2>
                            <p>
                                This is the official <strong>DC Street Hockey</strong> website. For up to the minute
                                game updates follow us on <a href="https://twitter.com/dcstreethockey">twitter</a> and
                                <a href="https://www.facebook.com/DCStreetHockey/">facebook</a>
                            </p>
                        </section>

                </div>
                <div class="3u 12u(mobile)">

                    <!-- Feature #2 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="{% get_static_prefix %}images/stanley-cup.jpg" alt="" /></a>
                            <h2><a href="/templates/leagues/index.html">Leagues</a> </h2>
                            <p>
                                There are different divisions and a mixed draft league. Each league has a playoff bracket, and team seeds are based of regular season record.
                            </p>
                        </section>

                </div>
                <div class="3u 12u(mobile)">

                    <!-- Feature #3 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="{% get_static_prefix %}images/D1Champ.jpg" alt="" /></a>
                            <h2>Hall of Fame</h2>
                            <p>
                                This has historical information on all the players deemed worthy for the hall of records.
                            </p>
                        </section>

                </div>
                <div class="3u 12u(mobile)">

                    <!-- Feature #4 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="{% static 'images/D2Champ.jpg' %}" alt="" /></a>
                            <h2>Past Championships</h2>
                            <p>
                                Is your team as good as you think it is? Check the historical stats to see if you'll
                                be remembered amongst the greats.
                            </p>
                        </section>

                </div>
            </div>
        </div>
    </div>
</div>
