{% load static %}
<!-- Features -->
<div id="features-wrapper">
    <div id="features">
        <div class="container">
            <div class="row">
                <div class="6u 12u(mobile)">
                    <!-- Column #1 -->
                    <section>
                        <h2>Welcome to DC Street Hockey</h2>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.logo}}" alt="" /></a>
                        <p>
                            {{homepage.announcement}}
                        </p>
                    </section>
                    <h2>{{homepage.alt_title3}}</h2>
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.alt_photo3}}" alt="" /></a>
                        <p>
                            {{homepage.announcement3}}
                        </p>
                    </section>
                </div>
                <!-- Column #2 -->
                <div class="6u 12u(mobile)">
                    <h2>D1 Champions</h2>
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.d1_champ_photo}}" alt="" /></a>
                        <p>
                            {{homepage.announcement1}}
                        </p>
                    </section>
                    <h2>Wednesday Draft League Champions</h2>
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.wed_champ_photo}}" alt="" /></a>
                        <p>
                            {{homepage.wed_champ_announcement}}
                        </p>
                    </section>
                </div>
                <!-- Column #3 -->
                <div class="6u 12u(mobile)">
                    <h2>D2 Champions</h2>
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.d2_champ_photo}}" alt="" /></a>
                        <p>
                            {{homepage.announcement2}}
                        </p>
                    </section>
                    <h2>{{homepage.winter_title}}</h2>
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.winter_champ_photo}}" alt="" /></a>
                        <p>
                            {{homepage.winter_champ_announcement}}
                        </p>
                    </section>
                </div>
                <!-- Column #4 -->
                <div class="6u 12u(mobile)">
                    <h2>{{homepage.alt_title2}}</h2>
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.alt_photo2}}" alt="" /></a>
                        <p>
                            {{homepage.alt_announcement2}}
                        </p>
                    </section>
                    <h2>{{homepage.alt_title4}}</h2>
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.alt_photo4}}" alt="" /></a>
                        <p>
                            {{homepage.announcement4}}
                        </p>
                    </section>
                    <h2>{{homepage.alt_title1}}</h2>
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.alt_photo1}}" alt="" /></a>
                        <p>
                            {{homepage.alt_announcement1}}
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
