<!-- Features -->
<div id="features-wrapper">
    <div id="features">
        <div class="container">
            <div class="row">
                <div class="3u 12u(mobile)">
                    <!-- D1 Champ-->
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.d1_champ_photo}}" alt="" class="resizable-image" /></a>
                        <h2>D1 Champions</h2>
                        <p>
                            {{homepage.announcement1}}
                        </p>
                    </section>
                </div>
                <div class="3u 12u(mobile)">
                     <!-- D2 Champ-->
                     <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.d2_champ_photo}}" alt="" class="resizable-image" /></a>
                        <h2>D2 Champions</h2>
                        <p>
                            {{homepage.announcement2}}
                        </p>
                    </section>
                </div>
                <div class="3u 12u(mobile)">
                    <!-- Draft Champ-->
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.wed_champ_photo}}" alt="" class="resizable-image" /></a>
                        <h2>Draft League Champions</h2>
                        <p>
                            {{homepage.wed_champ_announcement}}
                        </p>
                    </section>
                </div>
                <div class="3u 12u(mobile)">
                    <!-- Monday A Champ-->
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.winter_champ_photo}}" alt="" class="resizable-image" /></a>
                        <h2>{{homepage.winter_title}}</h2>
                        <p>
                            {{homepage.winter_champ_announcement}}
                        </p>
                    </section>
                <div>

            </div>
        </div>
    </div>
</div>
