<!-- Features -->
<div id="features-wrapper">
    <div id="features">
        <div class="container">
            <div class="row">
                <div class="3u 12u(mobile)">
                    <!-- Monday B Champ-->
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.alt_photo2}}" alt="" /></a>
                        <h2>{{homepage.alt_title2}}</h2>
                        <p>
                            {{homepage.alt_announcement2}}
                        </p>
                    </section>
                </div>
                <div class="3u 12u(mobile)">
                    <!-- Announcement 1-->
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.alt_photo4}}" alt="" class="resizable-image" /></a>
                        <h2>{{homepage.alt_title4}}</h2>
                        <p>
                            {{homepage.announcement4}}
                        </p>
                    </section>
                </div>
                <div class="3u 12u(mobile)">
                     <!--Announcement 2-->
                     <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.alt_photo1}}" alt="" class="resizable-image" /></a>
                        <h2>{{homepage.alt_title1}}</h2>
                        <p>
                            {{homepage.alt_announcement1}}
                        </p>
                    </section>
                </div>
                <div class="3u 12u(mobile)">
                    <!-- Announcement 3 -->
                    <section>
                        <a href="#" class="bordered-feature-image"><img src="{{MEDIA_URL}}{{homepage.alt_photo3}}" alt="" class="resizable-image" /></a>
                        <h2>{{homepage.alt_title3}}</h2>
                        <p>
                            {{homepage.announcement3}}
                        </p>
                    </section>
                </div>
        </div>
    </div>
</div>
