


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	
    Home | DCStreetHockey

</title>
    
    <!-- Google Webmaster -->
    <meta name="google-site-verification" content="Za30Tt85SjUajxQCrwetQ8FHHRxIJzQCq4PpRm0N0v0" />
    
    <!-- Style Sheets -->
    <link href="Content/reset.css" rel="stylesheet" type="text/css" /><link href="Content/Dcsh.Grid.css" rel="stylesheet" type="text/css" /><link href="Content/Dcsh.css" rel="stylesheet" type="text/css" /><link href="Content/smoothness/ui.css" rel="stylesheet" type="text/css" />
    <!-- End Style Sheets -->
    
    <!-- Scripts -->
    <script src="../../Scripts/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/plugins/richhtmlticker.js" type="text/javascript"></script>
    <script src="../../Scripts/plugins/jquery.preloadimages.js" type="text/javascript"></script>
    <script src="../../Scripts/dcsh/Dcsh.js" type="text/javascript"></script>
    <script src="../../Scripts/dcsh/Dcsh.home.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
    <script src="../../Scripts/plugins/jquery.doTimeout.js" type="text/javascript"></script>
    <script src="../../Scripts/plugins/jquery.corner.js" type="text/javascript"></script>
    <script src="../../Scripts/plugins/jquery.stickyfooter.js" type="text/javascript"></script>
    <script src="../../Scripts/plugins/jquery.tweet.js" type="text/javascript"></script>
    <!-- End Scripts -->

    </head>
<body>
    <div id="page_wrapper">
        

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11904157-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>
        <div class="container_4">
            <div class="grid_2"> 
                <div id="header_logo" title="DCStreetHockey Home">
                    <div id="header_link">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="grid_2">
                
<div id="header_navigation">
    
    <div id="logindisplay">
         
        [ <a href="/Account/LogOn">Log On</a> ]&nbsp;
        [ <a href="/Account/Register">Register</a> ]&nbsp;
        [ <a href="/Account/ForgotPassword">Forgot Password</a> ]

    </div>
    
    

    <div id="links">
        <div id="navHome" class="on">
            <div class="nav_bg_left"></div>
            <div class="nav_bg_middle"><a href="/"><img src="/Content/images/nav/nav_icon_home.png" alt="" border="0" /></a></div>
            <div class="nav_bg_right"></div>
        </div>
        <div id="navLeagues" class="off">
            <div class="nav_bg_left"></div>
            <div class="nav_bg_middle"><a href="javascript:void('0');">Leagues</a> <img src="/Content/images/nav/nav_icon_dropdown.png" alt="" /></div>
            <div class="nav_bg_right"></div>
        </div>
        <div id="navNews" class="off">
            <div class="nav_bg_left"></div>
            <div class="nav_bg_middle"><a href="/News">News</a></div>
            <div class="nav_bg_right"></div>
        </div>
        <div id="navRules" class="off">
            <div class="nav_bg_left"></div>
            <div class="nav_bg_middle"><a href="/Pages/Rules">Rules</a></div>
            <div class="nav_bg_right"></div>
        </div>
        <div id="navAbout" class="off">
            <div class="nav_bg_left"></div>
            <div class="nav_bg_middle"><a href="/Pages/About">About</a></div>
            <div class="nav_bg_right"></div>
        </div>
        <div id="navStore" class="off">
            <div class="nav_bg_left"></div>
            <div class="nav_bg_middle"><a href="/Pages/Store">Store</a></div>
            <div class="nav_bg_right"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="league_selector">
        <ul id="league_selector_list" class="genericList">
            <li id="wedLeague" class="mainLeagueLinks"> <!-- todo: add jquery show/hide animation -->
              <a href="/League/67" class="navLeagueLink" title="Wednesday Draft">> Wednesday Draft</a>
              <div id="wedLeaguePageLinks" style="padding: 5px 0 3px 20px; display: none;" class="pageLeagueLinks">
                <a href="/League/67/Standings">Standings</a> | <a href="/League/67/Schedule">Schedule</a> | 
                <a href="/League/67/Stats">Stats</a> | <a href="/League/67/Team">Teams</a>
              </div>
            </li>
            <li id="sunD1League" class="mainLeagueLinks">
              <a href="/League/65" class="navLeagueLink" title="Sunday D1">> Sunday D1</a>
              <div id="sunD1LeaguePageLinks" style="padding: 5px 0 3px 20px; display: none;" class="pageLeagueLinks">
                <a href="/League/65/Standings">Standings</a> | <a href="/League/65/Schedule">Schedule</a> | 
                <a href="/League/65/Stats">Stats</a> | <a href="/League/65/Team">Teams</a>
              </div>
            </li>
            <li id="sunD2League" class="mainLeagueLinks">
              <a href="/League/66" class="navLeagueLink" title="Sunday D2">> Sunday D2</a>
              <div id="sunD2LeaguePageLinks" style="padding: 5px 0 3px 20px; display: none;" class="pageLeagueLinks">              
                <a href="/League/66/Standings">Standings</a> | <a href="/League/66/Schedule">Schedule</a> | 
                <a href="/League/66/Stats">Stats</a> | <a href="/League/66/Team">Teams</a>
              </div>
            </li>
        </ul>
    </div>
</div>


            </div> 
            <div class="clear"></div>
            <div class="grid_3">
                <div id="news_box">
                    <div id="tabs">
                        <div id="story1" class="on"></div>
                        <div class="clear"></div>
                        <div id="story2"></div>
                        <div class="clear"></div>
                        <div id="story3"></div>
                        <div class="clear"></div>
                    </div>
                    <div id="storyImage">
                        
            <div id="storyImage1" style="height: 300; width: 580px; background: url('../../../content/photos/stories/SinCityFall14ChampsPhoto.JPG') no-repeat;display: block ;">
                <div id="frame" style="background: url('../../../../Content/images/home/main_image_frame.png') no-repeat;">
                    <div id="caption_box" onclick="RedirectPage('/News/View/100');" title="Read More >>">
                        <div id="caption">Sin City Rules!</div>
                        <div id="caption_description">Sin City wins 3 games by a goal to take their 2nd D1 Championship</div>
                    </div>
                </div>
            </div>        
        
            <div id="storyImage2" style="height: 300; width: 580px; background: url('../../../content/photos/stories/MantisFall14D2Champs.jpg') no-repeat;display: none ;">
                <div id="frame" style="background: url('../../../../Content/images/home/main_image_frame.png') no-repeat;">
                    <div id="caption_box" onclick="RedirectPage('/News/View/98');" title="Read More >>">
                        <div id="caption">Mantis Rising</div>
                        <div id="caption_description">Mantis Dominates D2 Playoffs After 1st Round Scare</div>
                    </div>
                </div>
            </div>        
        
            <div id="storyImage3" style="height: 300; width: 580px; background: url('../../../content/photos/stories/RoboCopFall14DraftLeagueChamps.jpg') no-repeat;display: none ;">
                <div id="frame" style="background: url('../../../../Content/images/home/main_image_frame.png') no-repeat;">
                    <div id="caption_box" onclick="RedirectPage('/News/View/99');" title="Read More >>">
                        <div id="caption">Roby Wins A Cup</div>
                        <div id="caption_description">Robocops squeak by 1st Round in a SO before dominating the Draft League</div>
                    </div>
                </div>
            </div>        
        
                    </div>
                    <div class="clear"></div>
                    <!-- Implement News ticker: http://www.makemineatriple.com/jquery?newsTicker= -->
                    <div id="news_ticker">
                        <div id="title">
                            <img src="../../Content/images/home/title_hotnews.png" />
                        </div>
                        <div id="news_list">
                            
                              <div class="news_item">COO7 set for Saturday, October 1st. Someone besides Philly or Canada needs to win this year please</div>
                            
                              <div class="news_item">Congrats to Team Philly for winning COO6 with a hard fought 3-2 OT win over DC-Turner</div>
                            
                              <div class="news_item">http://www.csnwashington.com/video_content_type/local-women-compete-us-world-street-hockey-championships</div>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="seperator"></div>
                    <div class="clear"></div>
                    <div id="thumbnail_box">
                        <div id="image" class="image1">
                            <img src="../../Content/images/home/thumbnail_frame.png" alt="" />                        
                        </div>
                    </div>
                    <div id="leaders_box">
                        <div id="lb_tab1" class="on"><div class="text">Wednesday</div></div>
                        <div id="lb_tab2"><div class="text">Sunday D1</div></div>
                        <div id="lb_tab3"><div class="textRt">Sunday D2</div></div>
                        <div class="clear"></div>
                        
<div id="lb_tab1_points" class="points">
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      J.
      Green</span> | 
      <b><a href="/League/67/Team/229">Puck Puck Pass</a></b>
  </div>
  <div class="floatRight">
    <b>
      3</b>
  </div>
  <div class="clear">
  </div>
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      C.
      Evans</span> | 
      <b><a href="/League/67/Team/230">Old is the New Black </a></b>
  </div>
  <div class="floatRight">
    <b>
      2</b>
  </div>
  <div class="clear">
  </div>
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      M.
      Kourt</span> | 
      <b><a href="/League/67/Team/231">Order In The Kourt</a></b>
  </div>
  <div class="floatRight">
    <b>
      2</b>
  </div>
  <div class="clear">
  </div>
  
</div>
<div id="lb_tab1_goals" class="goals">
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      K.
      Insley</span> | 
      <b><a href="/League/67/Team/235">Barzilian Nuts</a></b>
  </div>
  <div class="floatRight">
    <b>
      2</b>
  </div>
  <div class="clear">
  </div>
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      M.
      Kourt</span> | 
      <b><a href="/League/67/Team/231">Order In The Kourt</a></b>
  </div>
  <div class="floatRight">
    <b>
      2</b>
  </div>
  <div class="clear">
  </div>
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      N.
      D'Antonio</span> | 
      <b><a href="/League/67/Team/233">Young Bucks</a></b>
  </div>
  <div class="floatRight">
    <b>
      2</b>
  </div>
  <div class="clear">
  </div>
  
</div>

                        
<div id="lb_tab2_points" class="points" style="display: none;">
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      J.
      Lisicky</span> |
      <b><a href="/League/65/Team/16">Sin City</a></b>
  </div>
  <div class="floatRight">
    <b>
      6</b>
  </div>
  <div class="clear">
  </div>
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      P.
      Steinitz</span> |
      <b><a href="/League/65/Team/14">Plague</a></b>
  </div>
  <div class="floatRight">
    <b>
      5</b>
  </div>
  <div class="clear">
  </div>
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      W.
      Barrett</span> |
      <b><a href="/League/65/Team/9">Phantoms</a></b>
  </div>
  <div class="floatRight">
    <b>
      4</b>
  </div>
  <div class="clear">
  </div>
  
</div>
<div id="lb_tab2_goals" class="goals" style="display: none;">
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      J.
      Lisicky</span> |
      <b><a href="/League/65/Team/16">Sin City</a></b>
  </div>
  <div class="floatRight">
    <b>
      4</b>
  </div>
  <div class="clear">
  </div>
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      F.
      D'agnillo</span> |
      <b><a href="/League/65/Team/13">Hitmen</a></b>
  </div>
  <div class="floatRight">
    <b>
      3</b>
  </div>
  <div class="clear">
  </div>
  
  <div class="floatLeft">
    <span style="font-weight: normal">
      M.
      Miller</span> |
      <b><a href="/League/65/Team/9">Phantoms</a></b>
  </div>
  <div class="floatRight">
    <b>
      2</b>
  </div>
  <div class="clear">
  </div>
  
</div>

                        
<div id="lb_tab3_points" class="points" style="display: none;">
    
    <div class="floatLeft">
        <span style="font-weight: normal">
            S.
            Keeler</span> |
            <b><a href="/League/66/Team/22">Heavy Breathers</a></b>
    </div>
    <div class="floatRight">
        <b>
            5</b>
    </div>
    <div class="clear">
    </div>
    
    <div class="floatLeft">
        <span style="font-weight: normal">
            H.
            Lord</span> |
            <b><a href="/League/66/Team/25">Top Shelf</a></b>
    </div>
    <div class="floatRight">
        <b>
            5</b>
    </div>
    <div class="clear">
    </div>
    
    <div class="floatLeft">
        <span style="font-weight: normal">
            J.
            Dove</span> |
            <b><a href="/League/66/Team/15">Stingrays</a></b>
    </div>
    <div class="floatRight">
        <b>
            4</b>
    </div>
    <div class="clear">
    </div>
    
</div>
<div id="lb_tab3_goals" class="goals" style="display: none;">
    
    <div class="floatLeft">
        <span style="font-weight: normal">
            J.
            Dove</span> |
            <b><a href="/League/66/Team/15">Stingrays</a></b>
    </div>
    <div class="floatRight">
        <b>
            4</b>
    </div>
    <div class="clear">
    </div>
    
    <div class="floatLeft">
        <span style="font-weight: normal">
            A.
            Whittemore</span> |
            <b><a href="/League/66/Team/25">Top Shelf</a></b>
    </div>
    <div class="floatRight">
        <b>
            3</b>
    </div>
    <div class="clear">
    </div>
    
    <div class="floatLeft">
        <span style="font-weight: normal">
            C.
            Turner</span> |
            <b><a href="/League/66/Team/25">Top Shelf</a></b>
    </div>
    <div class="floatRight">
        <b>
            2</b>
    </div>
    <div class="clear">
    </div>
    
</div>

                    </div>
                </div>
                <div class="clear"></div>
                <div id="socialsites_box">
                    <a href="http://www.facebook.com/group.php?gid=18213887000" target="_blank"><div id="site2" title="http://www.facebook.com/group.php?gid=18213887000"></div></a>
                    <a href="http://twitter.com/DCStreetHockey" target="_blank"><div id="site3" title=""></div></a>
                </div>
            </div>
            <div class="grid_1">
                <div id="headlines_box">
                    <div id="headlines_tabs">
                        <div id="hb_tab1" class="on">&nbsp;&nbsp;Latest News</div>
                        <div id="hb_tab2">Wed League</div>
                        <div id="hb_tab3">Sun League</div>
                    </div>
                    
<div id="hb_tab1_content">
    
        <div class="headline_summary">
            <h3><a href="/News/View/100">Sin City wins 3 games by a goal to take their 2nd D1 Championship</a></h3>
            The D1 playoffs started off with long time playoff rivals facing off in the quarters in a game between the 3rd seeded Hitmen...
        </div>
    
        <div class="headline_summary">
            <h3><a href="/News/View/98">Mantis Dominates D2 Playoffs After 1st Round Scare</a></h3>
            The first playoff game in the Fall '14 D2 playoffs was between 3rd seeded Mantis and 6th seeded Sioux City Sarsaparilla. SCS was the dominant team...
        </div>
    
        <div class="headline_summary">
            <h3><a href="/News/View/99">Robocops squeak by 1st Round in a SO before dominating the Draft League</a></h3>
            The first playoff game in the Draft League Season 27 featured 3rd seeded Robocops vs 2nd seeded Passover for the Pastrami...
        </div>
    
</div>
                    
<div id="hb_tab2_content" style="display: none;">
    <div>
        <h3>Upcoming Wednesday Schedule</h3>
        <br />
        
        <div class="gameDate">Game Date: <b>8/31/2016</b></div>        
        
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        6:30
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/67/Team/233">Young Bucks</a> 
                          vs. 
                        <a href="/League/67/Team/229">Puck Puck Pass</a>
                    </td>
                </tr>
                </table>
                
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        7:30
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/67/Team/236">Mr. Big Butt and a Smile</a> 
                          vs. 
                        <a href="/League/67/Team/231">Order In The Kourt</a>
                    </td>
                </tr>
                </table>
                
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        8:30
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/67/Team/234">Pinkies and the Wayne </a> 
                          vs. 
                        <a href="/League/67/Team/230">Old is the New Black </a>
                    </td>
                </tr>
                </table>
                
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        9:30
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/67/Team/235">Barzilian Nuts</a> 
                          vs. 
                        <a href="/League/67/Team/232">The Chosen Ones</a>
                    </td>
                </tr>
                </table>
                
    </div>
</div>

                    
<div id="hb_tab3_content" style="display: none;">
    <div>
        <h3>Upcoming Sunday Schedule</h3>
        <br />
        
        <div class="gameDate">Game Date: <b>8/28/2016</b></div>
        
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        2:00
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/66/Team/19">Group Therapy</a> 
                          vs. 
                        <a href="/League/66/Team/15">Stingrays</a>
                    </td>
                </tr>
                </table>
                
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        3:00
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/66/Team/21">Fury</a> 
                          vs. 
                        <a href="/League/66/Team/17">Sioux City Sarsaparilla</a>
                    </td>
                </tr>
                </table>
                
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        4:00
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/65/Team/11">Gladiators</a> 
                          vs. 
                        <a href="/League/65/Team/14">Plague</a>
                    </td>
                </tr>
                </table>
                
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        5:00
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/65/Team/10">Haze</a> 
                          vs. 
                        <a href="/League/65/Team/12">MD Sparks</a>
                    </td>
                </tr>
                </table>
                
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        6:00
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/65/Team/24">Mantis</a> 
                          vs. 
                        <a href="/League/65/Team/16">Sin City</a>
                    </td>
                </tr>
                </table>
                
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        7:00
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/65/Team/13">Hitmen</a> 
                          vs. 
                        <a href="/League/65/Team/9">Phantoms</a>
                    </td>
                </tr>
                </table>
                
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        8:00
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/66/Team/23">Blues Brothers</a> 
                          vs. 
                        <a href="/League/66/Team/22">Heavy Breathers</a>
                    </td>
                </tr>
                </table>
                
                <table cellpadding="0" cellspacing="0" class="game">
                <tr>
                    <td class="gameTime">
                        9:00
                    </td>
                    <td>&nbsp;|&nbsp;</td>
                    <td class="gameTeams">
                        <a href="/League/66/Team/18">Iced Out</a> 
                          vs. 
                        <a href="/League/66/Team/25">Top Shelf</a>
                    </td>
                </tr>
                </table>
                
    </div>
</div>

                </div>
                <div id="twitter_box" title="Visit DCStreetHockey's Twitter Page">
                    

<a href="http://twitter.com/DCStreetHockey" target="_blank" title="Click to Visit DCStreetHockey on Twitter!">
<div id="twitter_updates">
    <div class="tweet"></div>
</div>
</a>

                </div>
            </div>
            <div class="clear"></div>
        </div>
        
        

<script type="text/javascript">
    var uservoiceOptions = {
      /* required */
      key: 'dcstreethockey',
      host: 'dcstreethockey.uservoice.com', 
      forum: '64227',
      showTab: true,  
      /* optional */
      alignment: 'left',
      background_color:'#f00', 
      text_color: 'white',
      hover_color: '#06C',
      lang: 'en'
    };

    function _loadUserVoice() {
      var s = document.createElement('script');
      s.setAttribute('type', 'text/javascript');
      s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
      document.getElementsByTagName('head')[0].appendChild(s);
    }
    _loadSuper = window.onload;
    window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
        <div id="footer">
            <div id="footer_container">
                
    
<div id="copyright" class="floatLeft">
    Copyright &copy 2016 DC Street Hockey, Inc.  All Rights Reserved.<br />
    For information on leagues, tournaments, or other information please contact <a href="mailto:waynebarrett20@gmail.com" style="cursor: pointer;">Wayne Barrett</a>
</div>
<div id="evelopt" class="floatRight">
    <a href="" onclick="return false;"><img id="eveloptLogo" src="/Content/images/logo_evelopt_off.png" alt="Evelopt Studios" border="0" /></a>
</div>

<div id="eveloptCredits" class="floatRight">
    Site design and development by 
    <a id="eveloptLink" href="#">Evelopt Studios</a>.
</div>

    
            </div>
        </div>
    </div>
</body>
</html>
