{% extends 'core/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'assets/css/schedule.css' %}">
{% endblock %}

{% block content %}
<div id="content-wrapper" class="schedule">
    <div id="content">
        <div class="container">
            <div class="title">
                Championship Games
            </div>
            <div class="pill-group">
            {% for division in divisions %}
                <a class="pill-item {% if division.division == active_division %}activeoption{% endif %}"
                   href="{% url 'cups' division.division %}">
                    {{division}}
                </a>
            {% endfor %}
            </div>
            {% include 'partials/cups.html' %}
        </div>
    </div>
</div>
{% endblock %}
