{% extends 'core/base.html' %}
<head>
	<style type="text/css" media="screen">
	</style>
</head>
{% load static %}
{% block content %}
<div id="content-wrapper" class="hof_stats">
	<div id="content">
		<div class="container">
            <div class="title">All Time Offensive Point Leaders</div>
            <div id="combinedoptiondiv" class="optionsdiv activeoption" onclick="javascript:handleOption('combined')">Combined</div>
            <div id="d1optiondiv" class="optionsdiv" onclick="javascript:handleOption('d1')">D1</div>
            <div id="d2optiondiv" class="optionsdiv" onclick="javascript:handleOption('d2')">D2</div>
            <div id="draftoptiondiv" class="optionsdiv" onclick="javascript:handleOption('draft')">Draft</div>
            <div id="monaoptiondiv" class="optionsdiv" onclick="javascript:handleOption('mona')">Mon-A</div>
            <div id="monboptiondiv" class="optionsdiv" onclick="javascript:handleOption('monb')">Mon-B</div>
    
            <section id="combinedsection" class="stats show">
                {% include 'partials/hof_player_rankings.html' with player_ranks=all_ranks %}
            </section>
            <section id="d1section" class="hidden">
                {% include 'partials/hof_player_rankings.html' with player_ranks=d1_ranks %}
            </section>
            <section id="d2section" class="hidden">
                {% include 'partials/hof_player_rankings.html' with player_ranks=d2_ranks %}
            </section>
            <section id="draftsection" class="hidden">
                {% include 'partials/hof_player_rankings.html' with player_ranks=draft_ranks %}
            </section>
            <section id="monasection" class="hidden">
                {% include 'partials/hof_player_rankings.html' with player_ranks=mona_ranks %}
            </section>
            <section id="monbsection" class="hidden">
                {% include 'partials/hof_player_rankings.html' with player_ranks=monb_ranks %}
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggleTable(id) {
        var stats = document.getElementById("stats-" + id);
        var showstats = stats.style.display == "block";
        stats.style.display = showstats ? "none" : "block";
        document.getElementById("ex-" + id).style.display = showstats ? "block" : "none";
    }
    function handleOption(name) {
        var sections = ["combined", "d1", "d2", "draft", "mona", "monb"];
        sections.forEach(function(section) {
            document.getElementById(section + "section").className = "hidden";
            document.getElementById(section + "optiondiv").className = "optionsdiv";
        });
        document.getElementById(name + "section").className = "stats show";
        document.getElementById(name + "optiondiv").className = "optionsdiv activeoption";
    }
    function handleDivision(dest) {
        window.location = dest;
    }
</script>
{% endblock %}
