<head>
	<style type="text/css" media="screen">
	</style>
</head>
{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div id="content-wrapper">
    <div id="content">
		<div class="container">
            <h3>{{date_of_week}}</h3>
        </div>
    </div>
	{% for mid,match in matchups.items %}
	<div id="content">
		<div class="container">
		<header class="matchupheader">
			<h2>{{match.matchup.awayteam.team_name}} vs {{match.matchup.hometeam.team_name}} @ {{match.matchup.time}}</h2>
		</header>
			<div class="row">
				<div class="6u 12u(mobile)">
					<section class="stats">
						<header>
							<h3>{{match.matchup.awayteam.team_name}}</h3>
						</header>
					    <table class="roster">
					    		<tr>
						    		<th>Player Name</th>
						    		<th>Goals</th>
						    		<th>Assists</th>
						    		<th>GA</th>
						    		<th>EN</th>
						    	</tr>
							{% for x in match.awayteamroster %}  
							    	<tr>
							    		<td>{{x.player.first_name}} {{x.player.last_name}}</td>
								    	<td>{{y.goals}}</td>
										<td>{{y.assists}}</td>
										<td>{{y.goals_against}}</td>
										<td>{{y.empty_net}}</td>
							    	</tr>
							{% endfor %}
				    	</table>
					</section>
					</div>
					<div class="6u 12u(mobile)">
					<section class="stats">
						<header>
							<h3>{{match.matchup.hometeam.team_name}}</h3>
						</header>
					    <table class="roster">
					    		<tr>
						    		<th>Player Name</th>
						    		<th>Goals</th>
						    		<th>Assists</th>
						    		<th>GA</th>
						    		<th>EN</th>
						    	</tr>
							{% for x in match.hometeamroster %}  
							    	<tr>
							    		<td>{{x.player.first_name}} {{x.player.last_name}}</td>
                                        <td>{{y.goals}}</td>
                                        <td>{{y.assists}}</td>
                                        <td>{{y.goals_against}}</td>
                                        <td>{{y.empty_net}}</td>
							    	</tr>
							{% endfor %}
				    	</table>
					</section>
				</div>
			</div>
		</div>
	</div>
    <p style="page-break-before:always">
{% empty %}
    <li>No matchups entered yet.</li>
{% endfor %}
</div>
<script type="text/javascript">
    window.print();
</script>
{% endblock %}

