{% extends 'core/base.html' %}
{% load static %}
{% load helpers %}
{% block content %}
<div id="content-wrapper" class="team">
    <div id="content">
        <div class="container">
            {% if not player_id %}
                <h2>Search for a player to see their trend history</h2>
            {% else %}
                <h2 class="clickable title" onclick="javascript:handleTeam('{% url "player" player.id %}')">
                    {{ player.first_name }} {{ player.last_name }}
                </h2>
                <h3>
                    Average Goals/Season: {{ average_goals|floatformat:2 }} &nbsp;
                    Average Assists/Season: {{ average_assists|floatformat:2 }} &nbsp;
                    Average Points/Season: {{ average_points|floatformat:2 }}<br>
                    Displaying for: {{ timespan }} seasons, Division: {% if division == 'all' %}All Divisions{% else %}{{ division|get_division_name }}{% endif %}
                </h3>
            {% endif %}
            <form id="playerSearchForm" method="GET" action="{% url 'player_trends' %}">
                <select id="playerSearchInput" name="player_id" class="custom-dropdown" placeholder="Enter player name" required>
                    <option value="">Enter player name</option>
                    {% for player in all_players %}
                        <option value="{{ player.id }}" {% if player_id == player.id|stringformat:"s" %}selected{% endif %}>{{ player.first_name }} {{ player.last_name }}</option>
                    {% endfor %}
                </select>
                <label for="timespan">Seasons to Display:</label>
                <select name="timespan" id="timespan" onchange="document.getElementById('playerSearchForm').submit();">
                    <option value="all" {% if timespan == 'all' %}selected{% endif %}>All</option>
                    <option value="5" {% if timespan == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if timespan == 10 %}selected{% endif %}>10</option>
                    <option value="15" {% if timespan == 15 %}selected{% endif %}>15</option>
                    <option value="20" {% if timespan == 20 %}selected{% endif %}>20</option>
                </select>
                <label for="division">Division:</label>
                <select name="division" id="division" onchange="document.getElementById('playerSearchForm').submit();">
                    <option value="all" {% if division == 'all' %}selected{% endif %}>All Divisions</option>
                    {% for div in divisions %}
                        <option value="{{ div.0 }}" {% if division == div.0|stringformat:"s" %}selected{% endif %}>{{ div.1 }}</option>
                    {% endfor %}
                </select>
            </form>

            {% if player %}
                <h3>Player Trends</h3>
                <canvas id="playerTrendsChart"></canvas>
            {% else %}
                {% if player_id %}
                    <p>No player found or no data available.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        $('#playerSearchInput').selectize({
            create: false,
            sortField: 'text',
            onChange: function(value) {
                if (value) {
                    document.getElementById('playerSearchForm').submit();
                }
            }
        });
    });
</script>

{% if player %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('playerTrendsChart').getContext('2d');
        var playerTrendsChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ player_seasons|safe }}, // List of seasons with year, season, and team name
                datasets: [
                    {
                        label: 'Goals',
                        data: {{ player_goals|safe }}, // List of goals per season
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        fill: false
                    },
                    {
                        label: 'Assists',
                        data: {{ player_assists|safe }}, // List of assists per season
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        fill: false
                    },
                    {
                        label: 'Point Trend',
                        data: {{ trend_line|safe }}, // Trend line for total points
                        borderColor: 'rgba(255, 206, 86, 1)',
                        backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        fill: false,
                        borderDash: [5, 5]
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true, // Ensure the aspect ratio is maintained
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Season'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Count'
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            title: function(tooltipItems) {
                                return tooltipItems[0].label;
                            }
                        }
                    }
                }
            }
        });
    });
</script>
{% endif %}
{% endblock %}
