{% extends 'core/base.html' %}
<head>
	<style type="text/css" media="screen">
	</style>
</head>
{% load static %}
{% block content %}
<div id="content-wrapper" class="team">
	<div id="content">
		<div class="container">
            {% for player_info in player %}
                {% if player_info.player_photo %}
                    <img class="teampic" src="{{MEDIA_URL}}{{player.player_photo.photo}}">
                {% endif %}
                <div class="title">
                        {{player_info.first_name}} {{player_info.last_name}} 
                </div>
            {% endfor %} 
            {% if career_stats %}
                <h2> Career Goals: {{ career_stats.career_goals }} Career Assists: {{ career_stats.career_assists }} </h2>
                {% if seasons %} <h3>Seasons Played since 2017: {{seasons|floatformat:0}} </h3> {% endif %}
                <h3> 
                    Average Goals/Season: {{career_stats.average_goals_per_season|floatformat:2}} &nbsp;
                    Average Assists/Season: {{career_stats.average_assists_per_season|floatformat:2}} 
                </h3>
            {% endif %}
            <section class="rostersection">
                <div class="row player_stats">
                    <div class="12u 12u(mobile)">
                        <table class="table">
                            <tr>
                                <th>Year</th>
                                <th>Season</th>
                                <th>Team Name (Record)</th>
                                <th>Div</th>
                                <th>G</th>
                                <th>A</th>
                                <th>Pts</th>
                            </tr>
                            {% load helpers %}
                            {% for team in team_list %}
                            <tr>
                                <td>{{team.team__season__year}}</td>
                                <td>{{team.team__season__season_type|season_type}}</td>
                                <td class="clickable" onclick="javascript:handleTeam('/leagues/teams/{{team.team__id}}')">
                                    {{team.team__team_name}} ({{team.team__team_stat__win}} - {{team.team__team_stat__loss}} - {{team.team__team_stat__tie}})
                                </td>
                                <td>{{team.team__division|division_type}}</td>
                                <td>{{team.sum_goals}}</td>
                                <td>{{team.sum_assists}}</td>
                                <td>{{team.total_points}}</td>
                            {% empty %}
                                <td>No team stats entered yet.</td>
                            {% endfor %}
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
		</div>
	</div>
</div>

{% endblock %}
