<head>
	<style type="text/css" media="screen">
	</style>
</head>
{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div id="content-wrapper" class="schedule">
	<div id="content">
		<div class="container">
            <div class="title">
                Schedule
            </div>
            {% include 'partials/schedule.html' %}
		</div>
	</div>
</div>

<script type="text/javascript">
    function toggleTable(id) {
        var stats = document.getElementById("stats-"+id);
				var showstats = stats.style.display = "block";
        stats.style.display = showstats ? "none" : "block";
				document.getElementById("ex-"+id).style.display = showstats ? "block" : "none";
    }
		function handleSelect(elm){
	  	window.location = elm.value;
	  }
</script>
{% endblock %}
