{% extends 'core/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'assets/css/schedule.css' %}">
{% endblock %}

{% block content %}
<div id="content-wrapper" class="schedule">
	<div id="content">
		<div class="container">
            <div class="title">
                Scores
            </div>
            <p class="record-legend">Team records: W-OTW-OTL-L <span class="record-legend-note">(seasons before 2022: W-L-T)</span></p>
            <div class="pill-group">
                <a class="pill-item {% if active_division == 0 %}activeoption{% endif %}"
                   href="{% url 'scores' %}">All</a>
                {% for division in divisions %}
                    <a class="pill-item {% if division.division == active_division %}activeoption{% endif %}"
                       href="{% url 'scores' division.division %}">
                        {{division}}
                    </a>
                {% endfor %}
            </div>
            {% include 'partials/scores.html' %}
        </div>
	</div>
</div>
{% endblock %}
