{% extends 'core/base.html' %}

{% block content %}

<head>
	<style type="text/css" media="screen">

		table{
			border-collapse: collapse;
			border: 1px solid #FF0000;
			vertical-align: top;
			display: inline-block;
			empty-cells: show;
			width: 100%;
		}
		table caption{
			text-align: left
		}

		table tr{
			border:1px solid #FF0000;/
			empty-cells: show
		}
		table th{
			border:1px solid #FF0000;
			font-weight: bold;
			width: 25%;
		}
		table td{
			border: 1px solid #FF0000;/
			border-collapse: collapse;
			display: table-cell;
			empty-cells: show;
			text-align: center;
			white-space: nowrap
		}
		/*.inlineTable {
			display: inline-block;
		}*/
	</style>
</head>
<div id="content-wrapper">
	<div id="content">
		<div class="container">
		<header>
			<h2>Standings</h2>
		</header>
			<div class="row">
				<div class="4u 12u(mobile)">
					<section>
						<header>
							<h3>Sunday D1</h3>
						</header>
						<table class="table">
						<caption>Forwards</caption>
							<tr>
								<th>Player Name</th>
								<th>Team</th>
								<th>G</th>
								<th>A</th>
								<th>Points</th>
							</tr>
							{% for player in player_stat_list %}
								{% if player.team__division == 1 %}
									<tr>
										<td>{{player.player__first_name}} {{player.player__last_name}}</td>
										<td>{{player.team__team_name}}</td>
										<td>{{player.sum_goals}}</td>
										<td>{{player.sum_assists}}</td>
										<td>{{player.total_points}}</td>
									</tr>
							    {% endif %}
							{% empty %}
									<td>No player stats entered yet.</td>
							{% endfor %}
						<table class="table">
						<caption>Goalies</caption>
							<tr>
								<th>Goalie Name</th>
								<th>Team</th>
								<th>GA</th>
								<th>EN</th>
							</tr>
							{% for player in player_stat_list %}
								{% if player.team__division == 1 %}
									{% if player.roster__position1|stringformat:"s" = "Goalie" or player.roser__position2 == 4 %}
									<tr>
									<td>{{player.player__first_name}} {{player.player__last_name}}</td>
									<td>{{player.team__team_name}}</td>
									<td>{{player.sum_goals_against}}</td>
									<td>{{player.sum_empty_net}}</td>
									</tr>
									{% endif %}
								{% endif %}	
							{% empty %}
									<td>No team stats entered yet.</td>
							{% endfor %}
						</table>
					</section>
					</div>
					<div class="4u 12u(mobile)">
					<section>
						<header>
							<h3>Sunday D2</h3>
						</header>
						<table class="table">
						<caption>Forwards</caption>
							<tr>
								<th>Player Name</th>
								<th>Team</th>
								<th>G</th>
								<th>A</th>
								<th>Points</th>
							</tr>
							{% for player in player_stat_list %}
								{% if player.team__division == 2 %}
									<tr>
										<td>{{player.player__first_name}} {{player.player__last_name}}</td>
										<td>{{player.team__team_name}}</td>
										<td>{{player.sum_goals}}</td>
										<td>{{player.sum_assists}}</td>
										<td>{{player.total_points}}</td>
									</tr>
							    {% endif %}
							{% empty %}
									<td>No player stats entered yet.</td>
							{% endfor %}
						<table class="table">
						<caption>Goalies</caption>
							<tr>
								<th>Goalie Name</th>
								<th>Team</th>
								<th>GA</th>
								<th>EN</th>
							</tr>
							{% for player in player_stat_list %}
								{% if player.team__division == 2 %}
									<tr>
									<td>{{player.player__first_name}} {{player.player__last_name}}</td>
									<td>{{player.team__team_name}}</td>
									<td>{{player.sum_goals_against}}</td>
									<td>{{player.sum_empty_net}}</td>
									</tr>
								{% endif %}	
							{% empty %}
									<td>No team stats entered yet.</td>
							{% endfor %}
						</table>
					</section>
					</div>
					<div class="4u 12u(mobile)">
					<section>
						<header>
							<h3>Wednesday Draft League</h3>
						</header>
						<table class="table">
						<caption>Forwards</caption>
							<tr>
								<th>Player Name</th>
								<th>Team</th>
								<th>G</th>
								<th>A</th>
								<th>Points</th>
							</tr>
							{% for player in player_stat_list %}
								{% if player.team__division == 3 %}
									<tr>
										<td>{{player.player__first_name}} {{player.player__last_name}}</td>
										<td>{{player.team__team_name}}</td>
										<td>{{player.sum_goals}}</td>
										<td>{{player.sum_assists}}</td>
										<td>{{player.total_points}}</td>	
									</tr>
							    {% endif %}
							{% empty %}
									<td>No player stats entered yet.</td>
							{% endfor %}
						<table class="table">
						<caption>Goalies</caption>
							<tr>
								<th>Goalie Name</th>
								<th>Team</th>
								<th>GA</th>
								<th>EN</th>
							</tr>
							{% for player in player_stat_list %}
								{% if player.team__division == 3 %}
									<tr>
									<td>{{player.player__first_name}} {{player.player__last_name}}</td>
									<td>{{player.team__team_name}}</td>
									<td>{{player.sum_goals_against}}</td>
									<td>{{player.sum_empty_net}}</td>
									</tr>
								{% endif %}	
							{% empty %}
									<td>No team stats entered yet.</td>
							{% endfor %}
						</table>
					</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
