{% extends 'core/base.html' %}

{% block content %}

<head>
	<style type="text/css" media="screen">
	</style>
</head>
<div id="content-wrapper">
	<div id="content">
		<div class="container">
            <div class="title">
                League Leaders
            </div>
            <div class="optionsdiv {% if active_season == 0 %}activeoption{% endif %} "
                        onclick="javascript:handleSeason('/leagues/player_stats/0')">
                Current
            </div>
            {% for season in seasons %}
                <div class="optionsdiv {% if season.id == active_season %}activeoption{% endif %} "
                        onclick="javascript:handleSeason('/leagues/player_stats/{{season.id}}')">
                {{season}}
                </div>
            {% endfor %}
            <div class="row stats">
                {% for division, player_list in player_stat_list.items %}
                    <div class="4u 12u(mobile)">
                        <section>
                            <header>
                                <h3>{{division}}</h3>
                            </header>
                            {% include 'partials/stats.html' %}
                        </section>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
            function handleSeason(dest){
	  	window.location = dest;
	  }
</script>
{% endblock %}
